---
- name: install python-pycurl
  sudo: yes
  apt: pkg=python-pycurl

- name: install package
  sudo: true
  apt: pkg={{item}}
  with_items:
    - nodejs
    - npm

- name: fix nodejs binary path on ubuntu
  file: src=/usr/bin/nodejs dest=/usr/bin/node state=link

- name: generate ~/.npmrc
  template: >
    src=npmrc.j2
    dest=~/.npmrc
    mode=0644
  when: nodejs.npmrc|length > 0

- name: add `./node_modules/.bin` to PATH
  sudo: true
  copy: >
    content='export PATH="./node_modules/.bin:$PATH"'
    dest=/etc/profile.d/nodejs_path.sh
    mode=0644
  when: nodejs.add_node_modules_bin_to_path

- name: install required npm packages to keep node running
  npm: name={{item}} global=yes 
  with_items: nodeapp_npm
        
- name: Does the nodejs application folder exist?
  command: ls {{nodeapp_chdir}}/{{nodeapp_dir}}/{{nodeapp_file}}
  ignore_errors: yes
  register: appexists

- name: If App does not exist create directory       
  file: path={{nodeapp_dir}} state=directory
  when: appexists|failed        

- name: If nodejs app doest not exist in destination directory, make a soft link to it 
  file: src={{nodeapp_file}} dest={{nodeapp_dir}}/{{nodeapp_file}} state=link
  when: appexists|failed        
          
- name: Add forever-node upstart script
  template: src=forever-node.j2 dest=/etc/init/{{nodeapp_id}}.conf

- name: Ensure app is started
  service: name={{nodeapp_id}} state=started    
