---
- name: install python-pycurl
  sudo: yes
  apt: pkg=python-pycurl

- name: add 'chris-lea' PPA for Node.js
  sudo: true
  apt_repository: repo=ppa:chris-lea/node.js

- name: install package
  sudo: true
  apt: pkg=nodejs

- name: generate ~/.npmrc
  template: >
    src=npmrc.j2
    dest=~/.npmrc
    mode=0644
  when: nodejs.npmrc|length > 0

- name: add `./node_modules/.bin` to PATH
  sudo: true
  copy: >
    content='export PATH="./node_modules/.bin:$PATH"'
    dest=/etc/profile.d/nodejs_path.sh
    mode=0644
  when: nodejs.add_node_modules_bin_to_path

- name: install forever to keep node running
  npm: name=forever global=yes 

- name: Does {{nodeapp_dir}}/{{nodeapp_file}} exist?
  command: ls {{nodeapp_dir}}/{{nodeapp_file}}
  ignore_errors: yes
  register: appexists

- name: If App does not exist create directory       
  command:  mkdir {{nodeapp_dir}}
  when: appexists|failed        

- name: If App does not exist copy default app into created directory       
  copy: src={{nodeapp_file}} dest={{nodeapp_dir}}/{{nodeapp_file}}
  when: appexists|failed        
          
          
- name: Add forever-node upstart script
  action: template src=forever-node.j2 dest=/etc/init/forever-node.conf

- name: Ensure nodeapp is started
  action: service name=nodeapp state=started    

