{% if not nodejs.devel %}
deb https://deb.nodesource.com/node trusty main
deb-src https://deb.nodesource.com/node trusty main
{% else %}
deb https://deb.nodesource.com/node-devel trusty main
deb-src https://deb.nodesource.com/node-devel trusty main
{% endif %}
